version: "3.7"

services:
    web:
        build: .
        ports:
            - "5173:5173"
        volumes:
            - ../../:/app
        tty: true
        stdin_open: true
        environment:
            - NODE_ENV=development
            - PORT=5173
