
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #e0f7fa;
}
header {
  background-color: #0277bd;
  color: white;
  padding: 10px 20px;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
}
header h1 {
  margin: 0;
  flex-grow: 1;
}
.header-buttons {
  display: flex;
  gap: 10px;
}
.installBtn {
  background-color: #0288d1;
  border: none;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}
.installBtn:hover {
  background-color: #01579b;
}
#sidebar {
  position: fixed;
  top: 10vh;
  right: -250px;
  width: 250px;
  height: 100%;
  background-color: #01579b;
  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 60px;
  color: white;
  z-index: 0;
}
#sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: block;
  transition: 0.3s;
}
#sidebar a:hover {
  background-color: #0277bd;
}
.open-sidebar-btn {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}
.open-sidebar-btn:hover {
  color: #f1f1f1;
}
.main-content {
  width: 400px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: #333;
  margin: auto;
  padding: 20px;
}
.open {
  right: 0;
}
footer {
  background-color: #0277bd;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

#drop-area {
  width: 400px;
  height: 250px;
  border: 2px dashed #03a9f4;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: #333;
  margin: auto;
  transition: 0.3s;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(15px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#drop-area.hover {
  background-color: #f0f0f0;
  border-color: #333;
}

input[type="file"] {
  display: none;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 8px 12px;
  border: 1px solid #ddd;
}

th, td {
  background-color: #f2f2f2;
}


#open-file-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  padding: 15px;
  background: linear-gradient(135deg, #0277bd, #01579b);
  color: white;
  font-size: 18px;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 20px auto;
  text-align: center;
}

button {
  padding: 16px 32px;
  border: none;
  background: linear-gradient(135deg, #03a9f4, #0288d1);
  color: white;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-top: 15px;
}

button:hover {
  background: linear-gradient(135deg, #0288d1, #01579b);
  transform: scale(1.1);
}

