version: "3.7"

services:
    web:
        build:
            context: .
            dockerfile: Dockerfile
        ports:
            - "3535:80"
        volumes:
            - ..:/var/www/html
        tty: true
        stdin_open: true

    # selGrid:
    #     image: selenium/standalone-firefox:4.28.1-20250123
    #     ports:
    #         - "4444:4444"
    #         - "7900:7900"
    #     shm_size: 2g

    # python:
    #     image: python:latest
    #     volumes:
    #         - ..:/usr/app
    #     tty: true
    #     stdin_open: true
    #     command: bash

    # chrome:
    #     image: selenium/node-chrome:4.28.1-20250123
    #     shm_size: 2gb
    #     depends_on:
    #         - selenium-hub
    #     environment:
    #         - SE_EVENT_BUS_HOST=selenium-hub
    #         - SE_EVENT_BUS_PUBLISH_PORT=4442
    #         - SE_EVENT_BUS_SUBSCRIBE_PORT=4443

    # edge:
    #     image: selenium/node-edge:4.28.1-20250123
    #     shm_size: 2gb
    #     depends_on:
    #         - selenium-hub
    #     environment:
    #         - SE_EVENT_BUS_HOST=selenium-hub
    #         - SE_EVENT_BUS_PUBLISH_PORT=4442
    #         - SE_EVENT_BUS_SUBSCRIBE_PORT=4443

    # firefox:
    #     image: selenium/node-firefox:4.28.1-20250123
    #     shm_size: 2gb
    #     depends_on:
    #         - selenium-hub
    #     environment:
    #         - SE_EVENT_BUS_HOST=selenium-hub
    #         - SE_EVENT_BUS_PUBLISH_PORT=4442
    #         - SE_EVENT_BUS_SUBSCRIBE_PORT=4443

    # selenium-hub:
    #     image: selenium/hub:4.28.1-20250123
    #     container_name: selenium-hub
    #     ports:
    #         - "4442:4442"
    #         - "4443:4443"
    #         - "4444:4444"
