name: Smoke-Tests

on:
  workflow_run:
    workflows: [ CI ]
    types:
      - completed
    branches:
       - main
       - development
       - feat/test_workflows

  workflow_dispatch:

jobs:
  smoke-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: lts/*
      - name: Install dependencies
        run: npm install
      - name: Run tests
        run: npm run test:smoke 
