name: System Test

on:
  workflow_run:
    workflows: [ CI ]
    types: 
        - completed

  workflow_dispatch:

jobs:
  system_test:
    runs-on: ubuntu-latest
    container: mcr.microsoft.com/playwright:v1.50.1-jammy    
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Cache node modules
        id: cacheStepnode
        uses: actions/cache@v4
        with:
          # npm cache files are stored with ~/.npm
          path: |
           ~/.npm
           node_modules
          key: npm-${{ runner.os }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
              ${{ runner.os }}-
  
      #Install dependencies (if no cache hit)
      - name: Install dependencies
        if: steps.cacheStepnode.outputs.cache-hit != 'true'
        run: npm install

      - name: Run System Tests
        run: xvfb-run npx playwright test tests/playwright/systemTests --headed --workers=1

      - name: Report Smoke Test Status in PR
        uses: actions/github-script@v7
        with:
          script: |
            github.rest.checks.create({
              owner: context.repo.owner,
              repo: context.repo.repo,
              name: "System Tests",
              head_sha: "${{ github.event.workflow_run.head_sha }}",
              status: "completed",
              conclusion: "success"
            })
              
      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30

  smoke-failure:
     runs-on: ubuntu-latest
     if: ${{ github.event.workflow_run.conclusion == 'failure' }}
     steps:
        - run: |
            echo 'The smoke test workflow failed'
            exit 1


